{% extends 'base.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">



<div class="row1">
    <div>
        
        <h3> Welcome to Musitory, <br> </h3>
        <h4>an open-source Song Recommender for your musical appetite!</h4>
        <p>It gives you continuous Song Recommendations by your Current selection.</p>
        <p>This works in <strong>three</strong> steps:<br>
           <strong>Song searching </strong> : Search for a Song, Artist, Genre or any combination (comma saparated) of the three to get top matches from our database.<br>
            <strong> Song Selection</strong> : Select the song you want from the top matches to get started with the <strong>Machine Learning based similar songs recommendations</strong>.<br>
           <strong> Continuous Recommendations</strong> : Select a song you like from the recommendations, to get similar recommendations based on it!<br>   
        </p>
        <h3>Start Searching to get Started!!</h3>
    </div>

</div>

<div class="row2">
     <h1>Don't know what to search? Select a Genre to get Started!</h1>

    <div class="container-fluid">
        
        <div class="row-sm">
            {% for i in Genre %}
            <div class="col-sm-3 col-xs-offset-1">
                
                
                    <form action="." method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <input type="hidden" value='genre' name="searchby"><br>
                        <input type="hidden" value='search' name="action">
                        <input type="hidden" value='{{ i }}' name="search">
                        <button type="submit" class="btn aqua-gradient btn-lg"><h2>{{ i }}</h2></button><br>
                    </form><br>
                
                
            </div>
            {% endfor %}
    </div>
</div>
            

{% block search %}
    
{% endblock search %}
    
{% endblock %}
    
