
{% extends 'index.html' %}


{% block navbar-text %}

    <div class="navbar-text">Step 2/3(SearchResult)</div>

{% endblock navbar-text %}


{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'search.css' %}">


<h1>Please select a song from these Best matches to generate <br> Machine Learning based Recommendations: </h1><br><br><br>
<div class="container-fluid">
    
    <div class="row-lg-1">

        <div class="col-lg-6 col-xs-offset-3">
            {% if Songslist %}
            <div class="list-group" width="500px">
                {% for i in Songslist %}
                <form action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="hidden" value='{{ i.SongID  }}' name="songID"><br>
                    <input type="hidden" value='result' name="action">
                    <button type="submit" class="list-group-item list-group-item-primary" name="action" value="result"><h2>{{ i.Song }} - {{ i.Performer }}</h2></button>
                </form>
                {% endfor %}
            </div>
        
        
            {% endif %}

            {% if Try_again %}
                <br><br><br><br>
                <label>{{ Try_again }}<label><br>
                
            {% endif %}
        </div>
        
    </div>
    
</div>

    
        
{% endblock %}