.list-group-item-primary{
    text-align: center;
    opacity: 0.85;
}

h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: initial;
    font-weight: bold;
    opacity: 1;
    color: rgb(87, 87, 9);
}

.row-lg-1{
    
    align-content: center;
}

h1{
    text-align: left;
    padding-left: 50px;
    font-weight: bold;
}

.image-container{
    height: 500px;
    width: 100px;
}
img{
    height: 200px;
    width: 200px;
}

.split {
    height: 90%;
    width: 50%;
    position: absolute;
    z-index: 1;
    justify-content: center;
    flex-wrap: nowrap;
}

.left {
    left: 0;
    
}

.right {
    right: 0;
    margin-bottom: 5%;
    
}
  

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  

.centered img {
    width: 300px;
    border-radius: 60%;
}

label{
    font-size: 30px;
    color: silver;
}

h4{
    color: whitesmoke;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: black;
    padding-bottom: 10px;
    padding-top: 15px;
    opacity: 0.8;
}


.col-lg-8{
    column-span: all;
}

h3{
    color: yellow;
    font-size: 15px;
}

.container-fluid{
    width: 100%;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: auto;
    overflow: scroll;
    margin-left: 3%;
    height: 100%;
    scrollbar-width: 0;
    overflow-x: hidden;
}

.list-group{
    height: 100%;
    margin-bottom: 10%;
}