body{
    background: white url("images/background_2.jpg");
    background-size: cover;
}

h1{
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 100px;
    text-align: center;
    font-size: 35px;
    padding-left: 65px;
    backface-visibility: hidden;
    font-weight: bold;
    
}
.navbar-brand{
    font-size: 30px;
}


h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: initial;
}

.navbar-text{    
    margin-top: 5px;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 25px;
}

.navbar-dark .navbar-text {
    color: white;
    padding-left: 40%;
}
