{% extends 'base.html' %}
 

{% block content %}
<h1>Search for song you like: </h1>

<form action="searchResults/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" placeholder="Search" name="search">
    <select id="searchby" name="searchby">
        <option value="genre">Genre</option>
        <option value="artist">Artist</option>
        <option value="name">Song Name</option>
    </select>
    <input type="submit" value="Submit"> 
</form> <br><br>

{% block search %}
    
{% endblock search %}
    
{% endblock %}
    
