
{% extends 'index.html' %} 

{% block content %}
<h1>Please select the song from these Best matches: </h1>

{% if Songslist %}
    <form action="result/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% for i in Songslist %}
        <label>{{ i.Song }} - {{ i.Performer }}</label> <input type="radio" value='{{ i.SongID  }}' name="option"><br>
        {% endfor %}
        
        
            
        
        <button type="submit">Submit</button>
    </form>
    <a href="{%url 'app:index'%}">Take me back</a>
{% endif %}

{% if Try_again %}
    <h3>{{ Try_again }}</h3><br>
    To search again <a href="{%url 'app:index'%}">Click Here</a>
{% endif %}
    
        
{% endblock %}